/* Error: Undefined mixin.
 *     ,
 * 255 | /       @include hover-focus() {
 * 256 | |         color: $yellow;
 * 257 | |         text-decoration: none;
 * 258 | |         background-color: color.change($black, $alpha: 0.7);
 * 259 | \       }
 *     '
 *   sass\majadc_wireve\_components.scss 255:7  @import
 *   sass\main.scss 54:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 255 \2502  \250c        @include hover-focus() {\a 256 \2502  \2502          color: $yellow;\a 257 \2502  \2502          text-decoration: none;\a 258 \2502  \2502          background-color: color.change($black, $alpha: 0.7);\a 259 \2502  \2514        }\a     \2575 \a   sass\\majadc_wireve\\_components.scss 255:7  @import\a   sass\\main.scss 54:9                        root stylesheet";
}
