@mixin text-gradient-light () {
  color: $yellow;
  @supports ( background-clip: text ) or ( -webkit-background-clip: text ) {
    background-image: $background-gradient-light;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
}

/// 6. plain hover focus
@mixin hover-focus() {
	&:hover, &:focus {
		@content;
	}
}